@inject NavigationManager NavigationManager

<button @onclick="GoToHome" class="btn btn-primary home-button">
   Home of the Torrents
</button>

@code {
    private void GoToHome()
    {
        NavigationManager.NavigateTo("");
    }
}
